extends layout

block content
  h1= title
  - let items = results
    div(class="container-fluid") 
     div(class="row")
      each i,j in results 
       div(class="col-sm-4" onclick=`buy(${j})`) tea-type:#{i.tea_type}
       br 
       br
       div(class="col-sm-4" onclick=`buy(${j})`) flavour:#{i.flavour}
       br
       br
       div(class="col-sm-4" onclick=`buy(${j})`) tea_price:#{i.tea_price}
  script.
   function buy(itemNo){
     alert("You purchased item "+(itemNo+1))
   }