extends layout

block content
  h1= title
  - let items = results
    div(class="container-fluid") 
     div(class="row m-1")
      each item in items
       - let destination = `dispatch(\"/tea/update?id=${item._id}\")`  
       - let destination1 = `dispatch(\"/tea/create\")`  
       - let destination2 = `dispatch(\"/tea/detail?id=${item._id}\")`
       - let destination3 = `dispatch(\"/tea/delete?id=${item._id}\")`    
       div(class="row-sm-2", class="m-1") Item #{item.tea_type}(#{item.flavour}) is #{item.tea_price} 
        button.btn( class="btn-primary ml-1", onclick= destination1 style= "margin:5px;") Create 
        button.btn( class="btn-primary ml-1", onclick= destination style= "margin:5px;") update 
        button.btn( class="btn-primary ml-1", onclick= destination2 style= "margin:5px;") Detail 
        button.btn( class="btn-primary ml-1", onclick= destination3 style= "margin:5px;") Delete 

  script.
   function buy(itemNo){
     alert("You purchased item "+(itemNo+1))
   }
   function dispatch(path){ 
      window.location.href=path 
    } 